!!! 5
%html(lang = "#{Yii::app()->getLanguage()}")
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")/
    %meta(http-equiv="Content-Language" content="#{Yii::app()->getLanguage()}")/
    %title= $this->pageTitle
    :php
      echo CHtml::metaTag($this->metaDescription, 'description');
      echo CHtml::metaTag($this->metaKeywords, 'keywords');
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
    :php
      Yii::app()->bootstrap->register();
      Yii::app()->clientScript->registerCssFile(CHtml::asset(Yii::getPathOfAlias('webroot.themes.bootstrap.assets').'/css/screen.css'));
  %body#root
    .layout
      %header.header(role="banner")
        .container.top-header
          .row-fluid
            .span6
              = CHtml::link(CHtml::image(CHtml::asset(Yii::getPathOfAlias('webroot.themes.bootstrap.assets').'/img/logo/logo-blue193.png'),CHtml::encode(Yii::app()->name), array('width'=>'194', 'height'=>'59')),Yii::app()->createUrl('site/index'))
            .span4
              .top-contact.pull-right
                .tel.text-center= CHtml::encode(Yii::app()->params['telOfficePol'])
                .mail.text-center= CHtml::mailto(Yii::app()->params['officeEmail'])
            .span2
              -$this->widget('application.modules.languages.widgets.langSwitch.LangSwitchWidget', array('url'=>$this->url, 'htmlOptions'=>array('class'=>'inline pull-right')))
        / top-header
        :php
          $this->widget('bootstrap.widgets.TbNavbar', array(
            'brandLabel' => false,
            'display' => TbHtml::NAVBAR_DISPLAY_STATICTOP,
            'color' => TbHtml::NAVBAR_COLOR_INVERSE,
            'items' => array(
              array(
                'class' => 'bootstrap.widgets.TbNav',
                'items' => array(
                  array('label'=>Yii::t('app', 'home'), 'url'=>array('/site/index')),
                  array('label'=>Yii::t('app', 'production'), 'url'=>array('/catalog/catalog/index')),
                  array('label'=>Yii::t('app', 'about'), 'url'=>array('/site/page', 'view'=>'about')),
                  array('label'=>Yii::t('app', 'news'), 'url'=>array('/news/news/index'), 'active'=>$this->id === 'news'),
                  array('label'=>Yii::t('app', 'contact'), 'url'=>array('/site/contact')),
                  array('label'=>Yii::t('app', 'admin').' ('.Yii::app()->user->name.')', 'url'=>array('/admin/default/index'), 'visible'=>(!Yii::app()->user->isGuest)),
                  //array('label'=>Yii::t('app', 'admin'), 'items'=>$this->menu, 'visible'=>(!Yii::app()->user->isGuest && $this->menu)),
                ),
              ),
              TbHtml::navbarSearchForm(Yii::app()->createUrl('site/search'), 'get', array('class'=>'pull-right', 'inputOptions'=>array('name'=>'q'))),
            ),
          ));
        / navbar
      / header
      %main.main
        .container
          .row-fluid
            .span12
              :php
                if(isset($this->breadcrumbs)){
                  $this->widget('bootstrap.widgets.TbBreadcrumb', array(
                    'links'=>$this->breadcrumbs,
                  ));
                }
          = $content
        / content
      .layout-footer
    %footer.footer
      .container
        .row
          .text-center
            Copyright &copy; #{date('Y')} by #{CHtml::encode(Yii::app()->name)}. Yii v.#{CHtml::encode(Yii::getVersion())}
    / footer
