!!! 5
%html(lang = "#{Yii::app()->getLanguage()}")
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")/
    %meta(http-equiv="Content-Language" content="#{Yii::app()->getLanguage()}")/
    %title= $this->pageTitle
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
    = Yii::app()->bootstrap->register()
    %link(rel="stylesheet" type="text/css" href=" #{Yii::app()->request->baseUrl}/css/home.css")/
    /
      %link(rel="stylesheet" type="text/css" href=" #{Yii::app()->request->baseUrl}/css/form.css")/
  %body#root
    .layout
      %header.header(role="banner")
        .navbar.navbar-inverse.navbar-fixed-top(role="navigation")
          .navbar-inner
            .container
              = CHtml::link('Dendor Valve', Yii::app()->createUrl('site/index'), array('class'=>'brand span2'))
              .nav-collapse.collapse
                :php
                  $this->widget('zii.widgets.CMenu',array(
                    'items'=>array(
                      array('label'=>Yii::t('app', 'HOME'), 'url'=>array('site/index')),
                      array('label'=>Yii::t('app', 'ABOUT'), 'url'=>array('site/page', 'view'=>'about')),
                      array('label'=>Yii::t('app', 'CONTACT'), 'url'=>array('site/contact')),
                      array('label'=>Yii::t('app', 'LOGOUT').' ('.Yii::app()->user->name.')', 'url'=>array('site/logout'), 'visible'=>!Yii::app()->user->isGuest)
                    ),
                    'activeCssClass'=>'active',
                    'htmlOptions'=>array(
                        'class'=>'nav',
                    ),
                  ));
                -#$this->widget('application.components.LanguageChange', array('pickerType' => 'flags', 'class' => 'nav pull-right country',))
                -$this->widget('application.widgets.langSwitch.LangSwitchWidget', array('class'=>'nav pull-right country'))
        / navbar
        .container
          .row.head
            .span3
              .logo= CHtml::image('/img/logo/logo-wite270.png',CHtml::encode(Yii::app()->name), array('width'=>'269', 'height'=>'82'))
              .contact-top.text-center(role="contentinfo")
                .address
                  ul. Romualda Traugutta 29,
                  %br/
                  80-229, Gdańsk, Polska
                .tel 48-792-516-591
                .email
                  %i.icon-envelope.icon-white
                  = CHtml::mailto(Yii::app()->params['officeEmail'])
            .span9
              .wrap-slider
                %h1.pull-left Armatura przemysłowa
                .pull-right.img-slider= CHtml::image('/img/slide1.png','Armatura przemysłowa', array('width'=>'245', 'height'=>'395'))
                .slider#slider
                  = $this->widget('ext.slidr.SliderHome',array(), true)
        / head
      / header
      %main.main
        .container
          .row
            .span12
              :php
                if(isset($this->breadcrumbs)){
                  $this->widget('bootstrap.widgets.TbBreadcrumb', array(
                    'links'=>$this->breadcrumbs,
                  ));
                }
          = $content
        / content
      .layout-footer
    %footer.footer
      .container
        .row
          .text-center
            Copyright &copy; #{date('Y')} by #{CHtml::encode(Yii::app()->name)}. Yii v.#{CHtml::encode(Yii::getVersion())}
    / footer
