!!! 5
%html{:lang => 'pl'}
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")/
    %meta(name="language" content="pl")/
    %title= $this->pageTitle
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
    = Yii::app()->bootstrap->registerCoreCss()
    %link(rel="stylesheet" type="text/css" href=" #{Yii::app()->request->baseUrl}/css/home.css")/
    /
      %link(rel="stylesheet" type="text/css" href=" #{Yii::app()->request->baseUrl}/css/form.css")/
  %body#root
    .layout
      %header.header(role="banner")
        .navbar.navbar-inverse.navbar-fixed-top(role="navigation")
          .navbar-inner
            .container
              .nav-collapse.collapse
                :php
                  $this->widget('zii.widgets.CMenu',array(
                    'items'=>array(
                      array('label'=>'Home', 'url'=>array('/site/index')),
                      array('label'=>'About', 'url'=>array('/site/page', 'view'=>'about')),
                      array('label'=>'Contact', 'url'=>array('/site/contact')),
                      array('label'=>'Logout ('.Yii::app()->user->name.')', 'url'=>array('/site/logout'), 'visible'=>!Yii::app()->user->isGuest)
                    ),
                    'activeCssClass'=>'active',
                    'htmlOptions'=>array(
                        'class'=>'nav',
                    ),
                  ));
                %ul.nav.pull-right.country
                  %li= CHtml::link(CHtml::image('img/icons/us.gif','U.S.', array('width'=>'16', 'height'=>'11')),'http://dendor-valve.com', array('title'=>'U.S.'))
                  %li= CHtml::link(CHtml::image('img/icons/pl.gif','Poland', array('width'=>'16', 'height'=>'11')),'http://dendor.pl', array('title'=>'Poland'))
                  %li= CHtml::link(CHtml::image('img/icons/ru.gif','Русский', array('width'=>'16', 'height'=>'11')),'http://dendor.ru', array('title'=>'Русский'))
        / navbar
        .container.head
          .row
            .span3
              .logo= CHtml::image('img/logo/logo-blue270.png',CHtml::encode(Yii::app()->name), array('width'=>'269', 'height'=>'82'))
              .contact-top.text-center(role="contentinfo")
                .address
                  ul. Romualda Traugutta 29,
                  %br/
                  80-229, Gdańsk, Polska
                .tel 48-792-516-591
                .email
                  %i.icon-envelope.icon-white
                  = CHtml::mailto(Yii::app()->params['officeEmail'])
            .span9
              .wrap-slider
                %h1.pull-left Armatura przemysłowa
                .pull-right.img-slider= CHtml::image('/img/slide1.png','Armatura przemysłowa', array('width'=>'245', 'height'=>'395'))
        / head
      / header
      %main.main
        .container
          .row
            .span12
              :php
                if(isset($this->breadcrumbs)){
                  $this->widget('bootstrap.widgets.TbBreadcrumb', array(
                    'links'=>$this->breadcrumbs,
                  ));
                }
          = $content
        / content
      .layout-footer
    %footer.footer
      .container
        .row
          .text-center
            Copyright &copy; #{date('Y')} by #{CHtml::encode(Yii::app()->name)}. Yii v.#{CHtml::encode(Yii::getVersion())}
    / footer
