!!! 5
%html(lang = "#{Yii::app()->getLanguage()}")
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")/
    %meta(http-equiv="Content-Language" content="#{Yii::app()->getLanguage()}")/
    %title= $this->pageTitle
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
    = Yii::app()->bootstrap->register()
    %link(rel="stylesheet" type="text/css" href=" #{Yii::app()->request->baseUrl}/css/screen.css")/
    /
      %link(rel="stylesheet" type="text/css" href=" #{Yii::app()->request->baseUrl}/css/form.css")/
  %body#root
    .layout
      %header.header(role="banner")
        .container.top-header
          .row
            .span6
              = CHtml::link(CHtml::image('/img/logo/logo-blue193.png',CHtml::encode(Yii::app()->name), array('width'=>'194', 'height'=>'59')),Yii::app()->createUrl('site/index'))
            .span4
              .top-contact.pull-right
                .tel.text-center 48-792-516-591
                .mail.text-center= CHtml::mailto(Yii::app()->params['officeEmail'])
            .span2
              -$this->widget('application.widgets.langSwitch.LangSwitchWidget', array('url'=>$this->url, 'class'=>'inline pull-right'))
        / top-header
        .navbar.navbar-inverse.navbar-static-top(role="navigation")
          .navbar-inner
            .container
              .nav-collapse.collapse
                :php
                  $this->widget('zii.widgets.CMenu',array(
                    'items'=>array(
                      array('label'=>Yii::t('app', 'home'), 'url'=>array('/site/index')),
                      array('label'=>Yii::t('app', 'about'), 'url'=>array('/site/page', 'view'=>'about')),
                      array('label'=>Yii::t('app', 'news'), 'url'=>array('/news/news/index'), 'active'=>$this->id === 'news'),
                      array('label'=>Yii::t('app', 'contact'), 'url'=>array('/site/contact')),
                      array('label'=>Yii::t('app', 'logout').' ('.Yii::app()->user->name.')', 'url'=>array('/site/logout'), 'visible'=>!Yii::app()->user->isGuest)
                    ),
                    'activeCssClass'=>'active',
                    'activateParents'=>true,
                    'htmlOptions'=>array(
                        'class'=>'nav',
                    ),
                  ));
                = TbHtml::beginFormTb(TbHtml::FORM_LAYOUT_SEARCH, Yii::app()->createUrl('site/search'), 'get', array('class'=>'navbar-search pull-right'))
                = TbHtml::searchQueryField('q', '', array('placeholder'=>Yii::t('app', 'SEARCH'), 'class' => 'search-query'))
                = TbHtml::endForm()
        / navbar
      / header
      %main.main
        .container
          .row
            .span12
              :php
                if(isset($this->breadcrumbs)){
                  $this->widget('bootstrap.widgets.TbBreadcrumb', array(
                    'links'=>$this->breadcrumbs,
                  ));
                }
          = $content
        / content
      .layout-footer
    %footer.footer
      .container
        .row
          .text-center
            Copyright &copy; #{date('Y')} by #{CHtml::encode(Yii::app()->name)}. Yii v.#{CHtml::encode(Yii::getVersion())}
    / footer
