!!! 5
%html{:lang => 'en'}
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")/
    %meta(name="language" content="en")/
    %title= $this->pageTitle
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
    = Yii::app()->bootstrap->registerCoreCss()
    %link(rel="stylesheet" type="text/css" href=" #{Yii::app()->request->baseUrl}/css/screen.css")/
    /
      %link(rel="stylesheet" type="text/css" href=" #{Yii::app()->request->baseUrl}/css/form.css")/
  %body#root
    .layout
      %header.header
        .container.top-header
          .row
            .span6
              = CHtml::link(CHtml::image('img/logo/logo-blue193.png',CHtml::encode(Yii::app()->name), array('width'=>'194', 'height'=>'59')),'/')
            .span4
              .top-contact.pull-right
                .tel.text-center 48-792-516-591
                .mail.text-center= CHtml::mailto(Yii::app()->params['officeEmail'])
            .span2
              %ul.inline.pull-right
                %li= CHtml::link(CHtml::image('img/icons/us.gif','U.S.', array('width'=>'16', 'height'=>'11')),'http://dendor-valve.com', array('title'=>'U.S.'))
                %li= CHtml::link(CHtml::image('img/icons/pl.gif','Poland', array('width'=>'16', 'height'=>'11')),'http://dendor.pl', array('title'=>'Poland'))
                %li= CHtml::link(CHtml::image('img/icons/ru.gif','Русский', array('width'=>'16', 'height'=>'11')),'http://dendor.ru', array('title'=>'Русский'))
        / top-header
        .navbar.navbar-inverse.navbar-static-top(role="navigation")
          .navbar-inner
            .container
              .nav-collapse.collapse
                :php
                  $this->widget('zii.widgets.CMenu',array(
                    'items'=>array(
                      array('label'=>'Home', 'url'=>array('/site/index')),
                      array('label'=>'About', 'url'=>array('/site/page', 'view'=>'about')),
                      array('label'=>'Contact', 'url'=>array('/site/contact')),
                      array('label'=>'Logout ('.Yii::app()->user->name.')', 'url'=>array('/site/logout'), 'visible'=>!Yii::app()->user->isGuest)
                    ),
                    'activeCssClass'=>'active',
                    'htmlOptions'=>array(
                        'class'=>'nav',
                    ),
                  ));
                = TbHtml::beginFormTb(TbHtml::FORM_LAYOUT_SEARCH, '/search/', 'get', array('class'=>'navbar-search pull-right'))
                = TbHtml::searchQueryField('q', '', array('placeholder'=>'Search', 'class' => 'search-query'))
                = TbHtml::endForm()
        / navbar
      / header
      %main.main
        .container
          .row
            .span12
              :php
                if(isset($this->breadcrumbs)){
                  $this->widget('bootstrap.widgets.TbBreadcrumb', array(
                    'links'=>$this->breadcrumbs,
                  ));
                }
          = $content
        / content
      .layout-footer
    %footer.footer
      .container
        .row
          .text-center
            Copyright &copy; #{date('Y')} by #{CHtml::encode(Yii::app()->name)}. Yii v.#{CHtml::encode(Yii::getVersion())}
    / footer
