-$this->pageTitle=Yii::app()->name
%h1< Welcome to
  %i= CHtml::encode(Yii::app()->name)
%p Congratulations! You have successfully created your Yii application.
%p You may change the content of this page by modifying the following two files:
%ul
  %li View file:
    %code= __FILE__
  %li Layout file:
    %code= $this->getLayoutFile('main')
%p!= For more details on how to further develop this application, please read the <a href="http://www.yiiframework.com/doc/">documentation</a>. Feel free to ask in the <a href="http://www.yiiframework.com/forum/">forum</a>, should you have any questions.
%p= Yii::app()->sourceLanguage
%p= Yii::app()->getRequest()->getPreferredLanguage()
%p= Yii::app()->getLanguage()
:php
  $aLocale = explode('_',Yii::app()->getRequest()->getPreferredLanguage());
  $prefLang = $aLocale[0];
  $dirs = new DirectoryIterator(Yii::app()->messages->basePath);
  var_dump($dirs);


/-$this->widget('ext.langPick.ELangPick', array('excludeFromList' => array('en_us'),))
